<title> Login </title>
<h1> Login! </h1>
<% if (warn == true) { %>
    <p> Wrong username or password! </p>
<% } %>
<form method="POST">
    <input name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>
    <input name="login" type="submit" value="login">
</form>
